<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WCFExtern.Extern"
                 behaviorConfiguration="ComportareServiciuExtern">
        <endpoint address="net.tcp://localhost:8182/extern"
                 binding="netTcpBinding"
            bindingConfiguration=""
                 contract="WCFExtern.IExtern" />
        <!-- Valori din fisierul de configurare la nivel de masina-->
        <endpoint address="mex"
                         binding="mexTcpBinding"
                         contract="IMetadataExchange" />
      </service>
      <service name="InternClient"
                 behaviorConfiguration="ComportareServiciuExtern">
        <endpoint address="net.tcp://localhost:8181/intern"
                         binding="netTcpBinding"
                         bindingConfiguration=""
                         contract="IIntern" />

        <endpoint address="mex"
                         binding="mexTcpBinding"
                         contract="IMetadataExchange" />

      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ComportareServiciuExtern" >
          <serviceMetadata  />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--adaugat manual -->
    <client>
      <endpoint address="net.tcp://localhost:8181/intern"
               binding="netTcpBinding"
          bindingConfiguration="" contract="IIntern"
          name="NetTcpBinding_IIntern">
        <identity>
          <userPrincipalName value="iasimin-PC\iasimin" />
        </identity>
      </endpoint>
    </client>

  </system.serviceModel>
</configuration>
